logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea
**/public/image/**
**/public/uploads/**
**/.idea/**/*
*/target/**/*
*/dest/**/*
**/*.log
**/.DS_Store
**/.classpath
**/.asscache
**/.slcache/**/*
**/.project
**/.settings/**/*
**/out/**/*
**/dest/**/*

